<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="navigation container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Hot or Not?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/mybets/{{session['username']}}">My Bets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/newbet">New Bet</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bets">Ongoing Bets</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/winners">Winners</a>
            </li>           
          </ul>
        </div>
      </nav>
    </div>
    <div id="content" class="container mx-auto mt-3">{% block content %}{% endblock %}</div>     
</html>
